{% extends "base.html" %} {% block body %}
<div class="container">
  <h1>Publications list (latest first)</h1>

  <div id="spacer" style="margin-top: 3em"></div>

  <h3>Preprint of submited articles</h3>
  <ol reversed id="preprints">
    <li>
      <a href="https://arxiv.org/abs/2002.05076">
        "Structure-Property Maps with Kernel Principal Covariates Regression" </a
      ><br />
      B. A. Helfrecht, R. K. Cersonsky, <u>G. Fraux</u>, and M. Ceriotti,
      <i>arXiv</i> (2020)
      <a href="https://arxiv.org/pdf/2002.05076"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>

    <li>
      <a href="https://doi.org/10.1101/2020.01.31.929679 ">
        "DUBS: A Framework for Developing Directory of Useful Benchmarking Sets
        for Virtual Screening" </a
      ><br />
      J. Fine, M. Muhoberac, <u>G. Fraux</u>, and G. Chopra,
      <i>biorXiv</i> (2020)
      <a
        href="https://www.biorxiv.org/content/10.1101/2020.01.31.929679v1.full.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
  </ol>

  <h3>Published work</h3>
  <ol reversed id="publist">
    <li>
      <a href="https://doi.org/10.21105/joss.02117">
        "Chemiscope: interactive structure-property explorer for materials and
        molecules” </a
      ><br />
      <u>G. Fraux</u>, R. Cersonsky, and M. Ceriotti,
      <i>Journal of Open Source Software</i> (2020)
      <a
        href="https://www.theoj.org/joss-papers/joss.02117/10.21105.joss.02117.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
    <li>
      <a href="https://doi.org/10.1021/acs.jpcc.9b02718">
        "Structure, Dynamics, and Thermodynamics of Intruded Electrolytes in
        ZIF-8" </a
      ><br />
      <u>G. Fraux</u>, A. Boutin, A. H. Fuchs, and F.-X. Coudert,
      <i>J. Phys. Chem. C</i> <b>123 (25)</b> pp. 15589-15598 (2019)
      <a href="/static/pdf/10.1021.acs.jpcc.9b02718.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
    <li>
      <a href="https://doi.org/10.1021/acs.jctc.8b01041">
        "Ab initio Derived Force Fields for Zeolitic Imidazolate Frameworks:
        MOF-FF for ZIFs" </a
      ><br />
      J. P. Dürholt, <u>G. Fraux</u>, F.-X. Coudert and R. Schmid,
      <i>J. Chem. Theory Comput.</i> <b>15 (4)</b> pp. 2420–2432 (2019)
      <a href="/static/pdf/10.1021.acs.jctc.8b01041.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
    <li>
      <a href="https://doi.org/10.1098/rsta.2018.0220">
        "Modelling of framework materials at multiple scales: current practices
        and open questions" </a
      ><br />
      <u>G. Fraux</u>, S. Chibani and F.-X. Coudert,
      <i>Phil. Trans. R. Soc. A</i> <b>377</b> p. 20180220 (2019)
      <a href="/static/pdf/10.1098.rsta.2018.0220.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
    <li>
      <a href="https://doi.org/10.1021/acs.jpcc.8b08706">
        "Impacts of the Imidazolate Linker Substitution (CH3, Cl, or Br) on the
        Structural and Adsorptive Properties of ZIF-8" </a
      ><br />
      G. Chaplais, <u>G. Fraux</u>, J.-L. Paillaud, C. Marichal, H. Nouali, A.
      H. Fuchs, F.-X. Coudert, J. Patarin,
      <i>The Journal of Physical Chemistry C</i> <b>122 (47)</b> pp. 26945-26955
      (2018)
      <a href="/static/pdf/10.1021_acs.jpcc.8b08706.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
    <li>
      <a href="http://doi.org/10.1007/s10450-018-9942-5">
        "On the use of the IAST method for gas separation studies in porous
        materials with gate-opening behavior" </a
      ><br />
      <u>G. Fraux</u>, A. Boutin, A. H. Fuchs, and F.-X. Coudert,
      <i>Adsorption</i> <b>24 (3)</b> pp. 233–241 (2018)
      <a href="/static/pdf/10.1007_s10450-018-9942-5.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
    <li>
      <a href="http://dx.doi.org/10.1021/acs.langmuir.8b01115">
        "Structure and Dynamics of Water Confined in Imogolite Nanotubes" </a
      ><br />
      L. Scalfi, <u>G. Fraux</u>, A. Boutin, and F.-X. Coudert, <i>Langmuir</i>
      <b>34 (23)</b> pp 6748–6756 (2018)
      <a href="/static/pdf/10.1021_acs.langmuir.8b01115.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
    <li>
      <a href="http://doi.org/10.1039/C7CS00478H">
        "Forced Intrusion of Water and Aqueous Solutions in Microporous
        Materials: From Fundamental Thermodynamics to Energy Storage Devices" </a
      ><br />
      <u>G. Fraux</u>, F.-X. Coudert, A. Boutin, and A. H. Fuchs,
      <i>Chemical Society Review</i> <b>46 (23)</b> pp. 7421-7437 (2017)
      <a href="/static/pdf/10.1039_C7CS00478H.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
    <li>
      <a href="http://doi.org/10.1039/C7CC03306K">
        "Recent advances in the computational chemistry of soft porous crystals" </a
      ><br />
      <u>G. Fraux</u>, and F.-X. Coudert, <i>Chemical Communication</i>
      <b>53</b> pp. 7211-7221 (2017)
      <a href="/static/pdf/10.1039_C7CC03306K.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
    <li>
      <a href="http://doi.org/10.1063/1.4979199">
        "Fermi Resonance in CO<sub>2</sub>: Mode Assignment and Quantum Nuclear
        Effects from First Principles Molecular Dynamics" </a
      ><br />
      M. Basire, F. Mouhat, <u>G. Fraux</u>, A. Bordage, J.-L. Hazemann, M.
      Louvel, R. Spezia, S. Bonella, and R. Vuilleumier,
      <i>The Journal of Chemical Physics</i> <b>146 (13)</b> p. 134102 (2017)
      <a href="/static/pdf/10.1063_1.4979199.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
    <li>
      <a href="http://doi.org/10.1021/acs.chemmater.6b02994">
        "Computational Chemistry Methods for Nanoporous Materials" </a
      ><br />
      J. D. Evans, <u>G. Fraux</u>, R. Gaillac, D. Kohen, F. Trousselet, J.-M.
      Vanson, and F.-X. Coudert, <i>Chemistry of Materials</i> <b>29 (1)</b> pp.
      199-212 (2017)
      <a href="/static/pdf/10.1021_acs.chemmater.6b02994.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
    <li>
      <a href="http://doi.org/10.1063/1.4902382">
        "Note: Heterogeneous ice nucleation on silver-iodide-like surfaces" </a
      ><br />
      <u>G. Fraux</u> and J.P.K. Doye, <i>The Journal of Chemical Physics</i>
      <b>141 (21)</b> p. 216101 (2014)
      <a href="/static/pdf/10.1063_1.4902382.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
    <li>
      <a href="http://doi.org/10.1039/c3ra47063f">
        "Fluorescent microparticles fabricated through chemical coating of O/W
        emulsion droplets with a thin metallic film" </a
      ><br />
      G. M. Nocera, K. Ben M’Barek, D. G. Bazzoli, <u>G. Fraux</u>, M.
      Bontems-Van Heijenoort, J. Chokki, S. Georgeault, Y. Chen, and J.
      Fattaccioli, <i>RSC Advances</i> <b>4 (23)</b> p. 11564 (2014)
      <a href="/static/pdf/10.1039_c3ra47063f.pdf"
        ><img src="/static/images/pdf.png"
      /></a>
    </li>
  </ol>
</div>
{% endblock %}
