{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
    <h1>Contacting me</h1>
    <p>You can contact me by multiple means, pick the one that suits you.</p>
    <div class="row contact">
        <div class="col-sm-4">
            <a href="mailto://guillaume.fraux@chimie-paristech.fr">
                <i class="fa fa-at big-icon" aria-hidden="true"></i>
                guillaume.fraux@chimie-paristech.fr
            </a>
        </div>
        <div class="col-sm-4">
            <a href="https://scholar.google.fr/citations?user=iEtuyQMAAAAJ&hl">
                <i class="fa fa-google big-icon" aria-hidden="true"></i>
                Google scholar
            </a>
        </div>
        <div class="col-sm-4">
            <a href="http://orcid.org/0000-0003-4824-6512 ">
                <img src="/static/images/orcid.svg"
                     style="width:5em; display: block; margin: auto;"
                     aria-hidden="true"></img>
                ORCID profile
            </a>
        </div>
    </div>
    <div class="row contact">
        <div class="col-sm-4">
            <a href="http://twitter.com/__luthaf__">
                <i class="fa fa-twitter big-icon" aria-hidden="true"></i>
                @__luthaf__
            </a>
            <p>Twitter, for informal discussion</p>
        </div>
        <div class="col-sm-4">
            <a href="http://luthaf.github.io/">
                <i class="fa fa-commenting-o big-icon" aria-hidden="true"></i>
                My blog
            </a>
            <p>Discussing software and science subjects, rarely updated.</p>
        </div>
        <div class="col-sm-4">
            <a href="http://github.com/Luthaf">
                <i class="fa fa-github big-icon" aria-hidden="true"></i>
                Luthaf
            </a>
            <p>Github, for code related projects</p>
        </div>
    </div>
</div>
{% endblock %}
