{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>About me</h1>
    <div class="row">
        <div class="col-sm-4">
            <img src="{% static '/static/images/zeolite.png' %}" alt="Zeolite crystal"/>
        </div>
        <div class="col-sm-8">

            <p>I am a third year PhD student in computational chemistry, working
            at the interface between physics, chemistry and computer science. in
            the <a href="http://coudert.name/">Coudert</a> group at <a
            href="http://chimie-paristech.fr/">Chimie ParisTech</a> — <a
            href="https://www.psl.eu/">PSL University</a>.</p>

            <p>My PhD topic is the intrusion of liquids in nanoporous materials;
            the coupling of such intrusion to mechanical properties and
            deformations; and how to simulate coupled intrusion-deformation
            using classical methods. I use simulation techniques ranging from ab
            initio dynamics to classical free energy methods and thermodynamic
            calculations to improve our understanding of the atomistic processes
            in theses systems.</p>

            <p>I am particularly interested in devising, implementing and studying algorithms
            used to simulate complex chemical behavior of simple systems and emerging
            properties.</p>
        </div>
    </div>
</div>
{% endblock %}
