{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>About me</h1>
    <div class="row">
        <div class="col-sm-4">
            <img src="{% static '/static/images/zeolite.png' %}" alt="Zeolite crystal"/>
        </div>
        <div class="col-sm-8">
            <p>I am a second year PhD student in theoretical chemistry in the
            <a href="http://coudert.name/">Coudert</a> group at
            <a href="http://chimie-paristech.fr/">Chimie ParisTech</a>.</p>

            <p> My thesis topic is the intrusion of liquids in nanoporous
            materials; the coupling of such intrusion to mecanical properties
            and deformations; and how to simulate coupled intrusion-deformation
            using classical methods.</p>

            <p>I am using Hybrid Monte-Carlo simulations in the Osmotic ensemble
            to overcome the limitations of both Monte-Carlo and Molecular
            Dynamics in the simulation of flexible open systems.</p>

        </div>
    </div>
</div>
{% endblock %}
