{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>Publications list (latest first)</h1>

    <ol reversed>
        <li>
            <a href="http://dx.doi.org/10.1039/C7CS00478H">
                "Forced Intrusion of Water and Aqueous Solutions in Microporous Materials: From Fundamental Thermodynamics to Energy Storage Devices"
            </a>
            G. Fraux, F.-X. Coudert, A. Boutin, and A. H. Fuchs.
            <i>Chemical Society Review</i> <b>46, 23</b> pp. 7421-7437 (2017)
            <a href="/static/pdf/10.1039_C7CS00478H.pdf"><img src="/static/images/pdf.png" /></a>;
        </li>
        <li>
            <a href="http://dx.doi.org/10.1039/C7CC03306K">
                "Recent advances in the computational chemistry of soft porous crystals"
            </a>
            G. Fraux, and F.-X. Coudert.
            <i>Chemical Communication</i> <b>53</b> pp. 7211-7221 (2017)
            <a href="/static/pdf/10.1039_C7CC03306K.pdf"><img src="/static/images/pdf.png" /></a>;
        </li>
        <li>
            <a href="http://dx.doi.org/10.1063/1.4979199">
                "Fermi Resonance in CO<sub>2</sub>: Mode Assignment and Quantum Nuclear Effects from First Principles Molecular Dynamics"
            </a>
            M. Basire, F. Mouhat, G. Fraux, A. Bordage, J.-L. Hazemann, M. Louvel, R. Spezia, S. Bonella, and R. Vuilleumier.
            <i>The Journal of Chemical Physics</i> <b>146, 13</b> p. 134102 (2017)
            <a href="/static/pdf/10.1063_1.4979199.pdf"><img src="/static/images/pdf.png" /></a>;
        </li>
        <li>
            <a href="http://dx.doi.org/10.1021/acs.chemmater.6b02994">
                "Computational Chemistry Methods for Nanoporous Materials"
            </a>
            J. D. Evans, G. Fraux, R. Gaillac, D. Kohen, F. Trousselet, J.-M. Vanson, and F.-X. Coudert.
            <i>Chemistry of Materials</i> <b>29, 1</b> pp. 199-212 (2017)
            <a href="/static/pdf/10.1021_acs.chemmater.6b02994.pdf"><img src="/static/images/pdf.png" /></a>;
        </li>
        <li>
            <a href="http://dx.doi.org/10.1063/1.4902382">
                "Note: Heterogeneous ice nucleation on silver-iodide-like surfaces"
            </a>
            G. Fraux and J.P.K. Doye.
            <i>The Journal of Chemical Physics</i> <b>141, 21</b> p. 216101 (2014)
            <a href="/static/pdf/10.1063_1.4902382.pdf"><img src="/static/images/pdf.png" /></a>;
        </li>
        <li>
            <a href="http://dx.doi.org/10.1039/c3ra47063f">
                "Fluorescent microparticles fabricated through chemical coating of O/W emulsion droplets with a thin metallic film"
            </a>
            G. M. Nocera, K. Ben M’Barek, D. G. Bazzoli, G. Fraux, M. Bontems-Van Heijenoort, J. Chokki, S. Georgeault, Y. Chen, and J. Fattaccioli.
            <i>RSC Advances</i> <b>4, 23</b> p. 11564 (2014)
            <a href="/static/pdf/10.1039_c3ra47063f.pdf"><img src="/static/images/pdf.png" /></a>
        </li>
    </ol>
</div>
{% endblock %}
