{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>Publications list (latest first)</h1>

    <ol reversed>
        <li>
            J. D. Evans, G. Fraux, R. Gaillac, D. Kohen, F. Trousselet, J.-M. Vanson, and F.-X. Coudert.
            <a href="http://dx.doi.org/10.1021/acs.chemmater.6b02994">
                "Computational Chemistry Methods for Nanoporous Materials."
            </a>
            <i>Chemistry of Materials</i> (2016)
            <a href="/static/pdf/10.1021_acs.chemmater.6b02994.pdf"><img src="/static/images/pdf.png" /></a>;
        </li>
        <li>
            G. Fraux and J.P.K. Doye.
            <a href="http://dx.doi.org/10.1063/1.4902382">
                "Note: Heterogeneous ice nucleation on silver-iodide-like surfaces."
            </a>
            <i>The Journal of Chemical Physics</i> <b>141,</b> 216101 (2014)
            <a href="/static/pdf/10.1063_1.4902382.pdf"><img src="/static/images/pdf.png" /></a>;
        </li>
        <li>
            G. M. Nocera, K. Ben M’Barek, D. G. Bazzoli, G. Fraux, M. Bontems-Van Heijenoort, J. Chokki, S. Georgeault, Y. Chen, and J. Fattaccioli.
            <a href="http://dx.doi.org/10.1039/c3ra47063f">
                "Fluorescent microparticles fabricated through chemical coating of O/W emulsion droplets with a thin metallic film."
            </a>
            <i>RSC Advances</i> <b>4,</b> 11564 (2014)
            <a href="/static/pdf/10.1039_c3ra47063f.pdf"><img src="/static/images/pdf.png" /></a>
        </li>
    </ol>
</div>
{% endblock %}
