{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>Research software</h1>
    <p>
        Most of the softwares I write are available in my <a href="http://github.com/Luthaf">
        Github profile</a>. Everything there is open source, and external
        contributions are always welcome!
    </p>

    <hr class="separator" />

    <div class="row">
        <div class="col-sm-3">
            <a href="http://chemfiles.github.io/">
                <img src="{% static '/static/images/chemfiles.png'%}" alt="Chemfiles logo" />
            </a>
        </div>
        <div class="col-sm-9">
            <p><a href="http://chemfiles.github.io/">Chemfiles</a> is a
            library providing functions to read and write a variety of
            trajectory and structure formats. It allows to do format
            conversions between incompatible softwares, and to write analysis
            algorithms independently of the file format. It provides an
            intuitive and well-documented developer interface, usable from
            multiple languages: C, C++, Fortran, Python, Julia and Rust.</p>

            <p>Various ready-to-use analysis algorithms are implemented in the
            <a href="http://github.com/chemfiles/cfiles">cfiles</a> project,
            using Chemfiles to read the corresponding trajectories.</p>
        </div>
    </div>

    <hr class="separator" />

    <div class="row">
        <div class="col-sm-9">
            <p><a href="http://github.com/Luthaf/cymbalum">Cymbalum</a> is an
            attempt to write a molecular simulation engine which is:</p>
            <ol>
                <li>reliable;</li>
                <li>easy to use;</li>
                <li>composable;</li>
                <li>easy to extend.</li>
            </ol>

            <p>It currently supports molecules simulations using Monte-Carlo and
            Molecular dynamics in various thermodynamic ensembles.</p>
        </div>
        <div class="col-sm-3">
            <a href="http://github.com/Luthaf/cymbalum">
                <img src="{% static '/static/images/molsim.png'%}" alt="Protein" />
            </a>
        </div>
    </div>
</div>
{% endblock %}
